<div class="demo top" appDrapAndDrop [sourceId]="'top'" (DragStart)='setStatus($event)'  [DropTarget]='isDrag' draggable="true"></div>
<div class="demo left" appDrapAndDrop [sourceId]="'left'" (DragStart)='setStatus($event)' [DropTarget]='isDrag'   draggable="true"></div>
<div class="demo right" appDrapAndDrop [sourceId]="'right'" (DragStart)='setStatus($event)' [DropTarget]='isDrag'   draggable="true"></div>
<div class="demo bottom" appDrapAndDrop [sourceId]="'bottom'" (DragStart)='setStatus($event)' [DropTarget]='isDrag'  draggable="true"></div>


