.demo{
    background: #008dd2;
}

.top,.bottom{
    width: 100%;
}


.bottom{
    position: fixed;
    bottom: 0;
}


.left,.right{
    height: 100%;
    position: fixed;
}

.left{
    left:0;
    top:0;
}

.right{
    right:0;
    top:0;
}

.drag-over{
    border: 1px dashed #000000
}

.drag-target{
    background: #ccc;

    animation-duration: 1s;
    animation-fill-mode: both;
}

.drag-target.top,
.drag-target.bottom{
    height: 60px;
}

.drag-target.left,
.drag-target.right{
    width: 60px;
}

.current{
    animation: none;
}

.current.drag-target{
    background: #008dd2;
    width: 100%;
}